body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
    min-width: 1024px;
    color: #004b87;
}

h1 {
    padding: 46px 0 0 90px;
	
    font-size:33px;
    vertical-align:bottom;
}

h3 {
    text-align: center;
}

div#center {
}

div#header {
    margin: 10px 0 10px 10px;
    height: 79px;
    background-image: url("moongenlogo.png");
    background-repeat: no-repeat;
    vertical-align: bottom;
}

div#chart {
    float: left;
    width:75%;
    height:500px;
}

div#sidebar {
    vertical-align:top;
    float:right;
    width:25%;
}